[submodule "apple-private-apis"]
	path = apple-private-apis
	url = https://github.com/stek29/apple-private-apis.git
[submodule "open-absinthe"]
	path = open-absinthe
	url = https://github.com/OpenBubbles/OpenAbsinthe-Stub.git
